.version.game_design /* version checker */
{
	color: #00000F;
	background-color: #01FE81;
}

#page
{
	z-index: 1;
	min-height: 665.5999999999999px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 10px 0px 0px 0px ;
	padding-bottom: 0px;
	width: 100%;
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 17px;
	width: 100%;
}

#pu3878-6
{
	padding-bottom: 35px;
	width: 100%;
}

#u3878-6
{
	position: relative;
	left: -50%;
	margin-left: 48.5px;
	width: 100%;
	max-width: 97px;
}

#u3878-6-wrapper
{
	position: fixed;
	top: 18px;
	z-index: 21;
	left: 50%;
	margin-left: -543px;
	width: 9.9%;
	max-width: 97px;
}

#u13913
{
	background-color: transparent;
	position: relative;
	left: -50%;
	margin-left: 16px;
	width: 100%;
	max-width: 32px;
}

#u13913-wrapper
{
	position: fixed;
	top: 19px;
	z-index: 45;
	left: 50%;
	margin-left: -596px;
	width: 3.27%;
	max-width: 32px;
}

#u15948
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 33px;
	position: relative;
	left: -50%;
	margin-left: 187.5px;
	width: 100%;
	max-width: 375px;
}

#u15985
{
	background-color: #F0F0F0;
	padding-bottom: 33px;
	position: relative;
	left: -50%;
	margin-left: 187.5px;
	width: 100%;
	max-width: 375px;
}

#menuu15949
{
	z-index: 93;
	width: 375px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 17px;
	left: 50%;
	margin-left: 209px;
}

#u15964
{
	width: 59px;
	min-height: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u15965
{
	width: 59px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
}

#u15965:hover
{
	border-width: 0px;
	border-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u15966
{
	height: 17px;
	width: 36px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 11px;
	background: transparent url("../images/u15966.png") no-repeat 0px 0px;
}

#u15965:hover #u15966
{
	background: transparent url("../images/u15966-r.png") no-repeat 0px 0px;
}

#u15957
{
	width: 66px;
	min-height: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u15958
{
	width: 66px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
}

#u15958:hover
{
	border-width: 0px;
	border-color: transparent;
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u15958.MuseMenuActive
{
	border-color: #000000;
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u15959
{
	height: 17px;
	width: 44px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 11px;
	background: transparent url("../images/u15959.png") no-repeat 0px 0px;
}

#u15958:hover #u15959
{
	background: transparent url("../images/u15959-r.png") no-repeat 0px 0px;
}

#u15971
{
	width: 92px;
	min-height: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 129px;
}

#u15972
{
	width: 92px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
}

#u15972:hover
{
	border-width: 0px;
	border-color: transparent;
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u15973
{
	height: 17px;
	width: 70px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 11px;
	background: transparent url("../images/u15973.png") no-repeat 0px 0px;
}

#u15972:hover #u15973
{
	background: transparent url("../images/u15973-r.png") no-repeat 0px 0px;
}

#u15978
{
	width: 58px;
	min-height: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u15979
{
	width: 58px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
}

#u15979:hover
{
	border-width: 0px;
	border-color: transparent;
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u15979.MuseMenuActive
{
	border-color: #000000;
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u15982
{
	height: 17px;
	width: 36px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 11px;
	background: transparent url("../images/u15982.png") no-repeat 0px 0px;
}

#u15979:hover #u15982
{
	background: transparent url("../images/u15982-r.png") no-repeat 0px 0px;
}

#u15950
{
	width: 92px;
	min-height: 33px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#u15951
{
	width: 92px;
	background-color: transparent;
	padding-bottom: 16px;
	position: relative;
}

#u15951:hover
{
	border-width: 0px;
	border-color: transparent;
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u15972.MuseMenuActive,#u15951.MuseMenuActive
{
	border-color: #000000;
	width: 92px;
	min-height: 0px;
	margin: 0px;
}

#u15952
{
	height: 17px;
	width: 70px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 11px;
	background: transparent url("../images/u15952.png") no-repeat 0px 0px;
}

#u15951:hover #u15952
{
	background: transparent url("../images/u15952-r.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u15985-wrapper
{
	position: fixed;
	top: 17px;
	z-index: 92;
	left: 50%;
	margin-left: 209px;
	width: 38.27%;
	max-width: 375px;
}

#u15948-wrapper
{
	position: fixed;
	top: 17px;
	z-index: 91;
	left: 50%;
	margin-left: 209px;
	width: 38.27%;
	max-width: 375px;
}

#u13912
{
	z-index: 44;
	height: 23px;
	top: -25px;
	margin-bottom: -23px;
	position: relative;
	width: 2.15%;
	left: -7.56%;
}

#top4
{
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u14678-4
{
	z-index: 81;
	display: block;
	vertical-align: top;
	margin-top: 29px;
	position: relative;
	width: 89.6%;
	margin-left: 5.21%;
}

#u14679
{
	z-index: 85;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 5.11%;
	margin-left: 47.56%;
}

#u13913_img,#u14679_img
{
	width: 100%;
}

#u3526-6
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-top: 27px;
	position: relative;
	width: 72.86%;
	margin-left: 14.6%;
}

#ppu3533
{
	margin-top: 21px;
	width: 100%;
}

#u3533
{
	z-index: 19;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 12.56%;
	left: 7.86%;
}

#u3533_states
{
	float: left;
	width: 100%;
	background: transparent url("../images/u3533_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u3533_states .fluid_height_spacer
{
	padding-bottom: 23.577235772357724%;
}

#u3533:hover #u3533_states
{
	background: transparent url("../images/u3533_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u3530
{
	z-index: 9;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 16.84%;
	left: 23.17%;
}

#u3530_states
{
	float: left;
	width: 100%;
	background: transparent url("../images/u3530_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u3530_states .fluid_height_spacer
{
	padding-bottom: 17.575757575757574%;
}

#u3530:hover #u3530_states
{
	background: transparent url("../images/u3530_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u3531-4
{
	z-index: 11;
	position: relative;
	margin-right: -10000px;
	width: 24.29%;
	left: 42.35%;
}

#u3878-6_img,#u3531-4_img
{
	display: block;
	vertical-align: top;
	width: 100%;
}

#u3532
{
	z-index: 16;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 22.96%;
	left: 69.29%;
}

#u3532_states
{
	float: left;
	width: 100%;
	background: transparent url("../images/u3532_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u3532_states .fluid_height_spacer
{
	padding-bottom: 12.88888888888889%;
}

#u3532:hover #u3532_states
{
	background: transparent url("../images/u3532_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#pu4186
{
	margin-top: 50px;
	width: 100%;
}

#u4186
{
	z-index: 30;
	width: 480px;
	min-height: 250px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4187
{
	z-index: 31;
	width: 480px;
	min-height: 250px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u16439
{
	z-index: 119;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	margin-top: 12px;
	position: relative;
	width: 29.19%;
}

#u16440
{
	z-index: 120;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	top: -2px;
	margin-bottom: -1px;
	position: relative;
	width: 29.19%;
	margin-left: 51.03%;
}

#ppu4185
{
	margin-top: 6px;
	width: 100%;
}

#u4185
{
	z-index: 28;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 48.98%;
}

#u4185_states
{
	float: left;
	width: 100%;
	background: transparent url("../images/u4185_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u4185_states .fluid_height_spacer
{
	padding-bottom: 7.083333333333333%;
}

#u4185:hover #u4185_states
{
	background: transparent url("../images/u4185_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u4188
{
	z-index: 33;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 46.33%;
	left: 51.03%;
}

#u4188_states
{
	float: left;
	width: 100%;
	background: transparent url("../images/u4188_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u4188_states .fluid_height_spacer
{
	padding-bottom: 7.488986784140969%;
}

#u4188:hover #u4188_states
{
	background: transparent url("../images/u4188_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#pu4191
{
	margin-top: 38px;
	width: 100%;
}

#u4191
{
	z-index: 41;
	width: 480px;
	min-height: 250px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4192
{
	z-index: 42;
	width: 480px;
	min-height: 250px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u16441
{
	z-index: 121;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	margin-top: 9px;
	position: relative;
	width: 29.19%;
}

#u16442
{
	z-index: 122;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 29.19%;
	margin-left: 51.03%;
}

#ppu4189
{
	margin-top: 7px;
	width: 100%;
}

#u4189
{
	z-index: 36;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 48.98%;
}

#u4189_states
{
	float: left;
	width: 100%;
	background: transparent url("../images/u4189_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u4189_states .fluid_height_spacer
{
	padding-bottom: 5.625%;
}

#u4189:hover #u4189_states
{
	background: transparent url("../images/u4189_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u4190
{
	z-index: 39;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	width: 46.33%;
	left: 51.03%;
}

#u4190_states
{
	float: left;
	width: 100%;
	background: transparent url("../images/u4190_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u4190_states .fluid_height_spacer
{
	padding-bottom: 5.947136563876652%;
}

#u4190:hover #u4190_states
{
	background: transparent url("../images/u4190_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#pu14536-3
{
	margin-top: 31px;
	width: 100%;
}

#u14536-3
{
	z-index: 47;
	min-height: 115px;
	background-color: #57BB63;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u14536-3-bw
{
	z-index: 47;
	min-height: 115px;
}

#u14537
{
	z-index: 51;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 19.7%;
	background: transparent url("../images/u14537.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14537 .fluid_height_spacer
{
	padding-bottom: 10.362694300518134%;
}

#u14537:hover
{
	background: transparent url("../images/u14537-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14538
{
	z-index: 54;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	width: 19.7%;
	background: transparent url("../images/u14538.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14538 .fluid_height_spacer
{
	padding-bottom: 18.134715025906736%;
}

#u14538:hover
{
	background: transparent url("../images/u14538-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14539
{
	z-index: 57;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 19.9%;
	left: 21.84%;
	background: transparent url("../images/u14539.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14539 .fluid_height_spacer
{
	padding-bottom: 10.256410256410255%;
}

#u14539:hover
{
	background: transparent url("../images/u14539-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14540
{
	z-index: 60;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	width: 19.9%;
	left: 21.84%;
	background: transparent url("../images/u14540.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14540 .fluid_height_spacer
{
	padding-bottom: 22.05128205128205%;
}

#u14540:hover
{
	background: transparent url("../images/u14540-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14541
{
	z-index: 63;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 21.84%;
	left: 43.68%;
	background: transparent url("../images/u14541.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14541:hover
{
	background: transparent url("../images/u14541-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14542
{
	z-index: 66;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	width: 10.21%;
	left: 43.68%;
}

#u14542_states
{
	float: left;
	width: 100%;
	background: transparent url("../images/u14542_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14542:hover #u14542_states
{
	background: transparent url("../images/u14542_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14543
{
	z-index: 69;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	width: 10.21%;
	left: 43.68%;
}

#u14543_states
{
	float: left;
	width: 100%;
	background: transparent url("../images/u14543_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14542_states .fluid_height_spacer,#u14543_states .fluid_height_spacer
{
	padding-bottom: 14.000000000000002%;
}

#u14543:hover #u14543_states
{
	background: transparent url("../images/u14543_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14544
{
	z-index: 72;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 21.84%;
	left: 80.11%;
	background: transparent url("../images/u14544.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14541 .fluid_height_spacer,#u14544 .fluid_height_spacer
{
	padding-bottom: 9.345794392523365%;
}

#u14544:hover
{
	background: transparent url("../images/u14544-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14546
{
	z-index: 75;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	width: 14.6%;
	left: 80.11%;
	background: transparent url("../images/u14546.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14546 .fluid_height_spacer
{
	padding-bottom: 11.888111888111888%;
}

#u14546:hover
{
	background: transparent url("../images/u14546-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u14547
{
	z-index: 77;
	height: 1px;
	background-color: #474747;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	width: 7.96%;
	left: 80.11%;
}

#u14548
{
	z-index: 78;
	height: 1px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	width: 5.82%;
	left: 43.68%;
}

#u14549
{
	z-index: 79;
	height: 1px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	width: 5.11%;
	left: 43.68%;
}

#u14550
{
	z-index: 80;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	width: 2.25%;
	left: 90.41%;
}

.ie #u13912,.ie #u14550
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u15710-4
{
	z-index: 87;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	width: 18.17%;
	left: 80.21%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 568px;
}

