.version.blog__service_design_t /* version checker */
{
	color: #0000EB;
	background-color: #966CAF;
}

#page
{
	z-index: 1;
	min-height: 427.93265963628664px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 71px;
	padding-bottom: 71.06734036371336px;
	width: 100%;
	max-width: 380px;
}

#u18321-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	position: relative;
	width: 84.22%;
	margin-left: 7.9%;
}

#u18322
{
	z-index: 74;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 13.16%;
	margin-left: 43.69%;
}

#u18295-8
{
	z-index: 5;
	display: block;
	vertical-align: top;
	margin-top: 28px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18302
{
	z-index: 26;
	vertical-align: top;
	margin-top: 27px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18302_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18302_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18302:hover #u18302_states
{
	background: transparent url("../../images/u18302_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18299
{
	z-index: 17;
	vertical-align: top;
	margin-top: 2px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18299_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18299_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18299:hover #u18299_states
{
	background: transparent url("../../images/u18299_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18300
{
	z-index: 20;
	vertical-align: top;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18300_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18300_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18300:hover #u18300_states
{
	background: transparent url("../../images/u18300_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18301
{
	z-index: 23;
	vertical-align: top;
	margin-top: 1px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18301_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18301_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18302_states .fluid_height_spacer,#u18299_states .fluid_height_spacer,#u18300_states .fluid_height_spacer,#u18301_states .fluid_height_spacer
{
	padding-bottom: 9.034267912772584%;
}

#u18301:hover #u18301_states
{
	background: transparent url("../../images/u18301_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18423
{
	z-index: 84;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
	width: 84.22%;
	margin-left: 7.9%;
}

#u18324
{
	z-index: 76;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	margin-top: 12px;
	position: relative;
	width: 75.27%;
	margin-left: 7.64%;
}

#u18294
{
	z-index: 3;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
	width: 84.48%;
	margin-left: 7.9%;
}

#u18294_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18294_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18294_states .fluid_height_spacer
{
	padding-bottom: 8.411214953271028%;
}

#u18294:hover #u18294_states
{
	background: transparent url("../../images/u18294_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#pu18306
{
	margin-top: 22px;
	width: 100%;
}

#u18306
{
	z-index: 35;
	width: 480px;
	min-height: 250px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 184px;
	left: -568px;
}

#pu18328
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 443px;
	width: 119.74%;
	margin-left: -149.74%;
}

#u18328
{
	z-index: 83;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	position: relative;
	width: 62.86%;
}

#u18304
{
	z-index: 32;
	vertical-align: top;
	margin-top: 5px;
	position: relative;
	width: 99.79%;
	margin-left: 0.22%;
}

#u18304_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18304_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18304_states .fluid_height_spacer
{
	padding-bottom: 5.947136563876652%;
}

#u18304:hover #u18304_states
{
	background: transparent url("../../images/u18304_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#pu18433
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 84.48%;
	margin-left: 7.9%;
}

#u18433
{
	z-index: 86;
	background-color: transparent;
	position: relative;
	width: 99.69%;
}

#u18326
{
	z-index: 81;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	margin-top: 14px;
	position: relative;
	width: 89.1%;
}

#u18298
{
	z-index: 14;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
	width: 100%;
}

#u18298_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18298_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18298_states .fluid_height_spacer
{
	padding-bottom: 12.461059190031152%;
}

#u18298:hover #u18298_states
{
	background: transparent url("../../images/u18298_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18305
{
	z-index: 34;
	width: 321px;
	min-height: 167px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 319px;
	left: 29px;
}

#u18459
{
	z-index: 94;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 319px;
	width: 84.22%;
	left: 7.9%;
}

#u18327
{
	z-index: 82;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	top: -4px;
	margin-bottom: -1px;
	position: relative;
	width: 75.27%;
	margin-left: 7.64%;
}

#u18303
{
	z-index: 29;
	vertical-align: top;
	margin-top: 2px;
	position: relative;
	width: 84.22%;
	margin-left: 7.9%;
}

#u18303_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18303_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18303_states .fluid_height_spacer
{
	padding-bottom: 8.4375%;
}

#u18303:hover #u18303_states
{
	background: transparent url("../../images/u18303_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18443
{
	z-index: 88;
	background-color: transparent;
	margin-top: 27px;
	position: relative;
	width: 84.22%;
	margin-left: 7.9%;
}

#u18322_img,#u18423_img,#u18433_img,#u18443_img
{
	width: 100%;
}

#u18454
{
	z-index: 93;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	margin-top: 18px;
	position: relative;
	width: 75.27%;
	margin-left: 7.9%;
}

#u18453
{
	z-index: 91;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
	width: 84.22%;
	margin-left: 7.9%;
}

#u18453_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18453_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18453_states .fluid_height_spacer
{
	padding-bottom: 10.625%;
}

#u18453:hover #u18453_states
{
	background: transparent url("../../images/u18453_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#pppu18308
{
	margin-top: 240px;
	width: 100%;
}

#ppu18308
{
	margin-right: -10000px;
	margin-top: 16px;
	width: 50.79%;
	margin-left: -77.64%;
}

#u18308
{
	z-index: 40;
	vertical-align: top;
	position: relative;
	width: 100%;
	background: transparent url("../../images/u18308.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18308 .fluid_height_spacer
{
	padding-bottom: 10.362694300518134%;
}

#u18308:hover
{
	background: transparent url("../../images/u18308-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18309
{
	z-index: 43;
	vertical-align: top;
	margin-top: 5px;
	position: relative;
	width: 100%;
	background: transparent url("../../images/u18309.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18309 .fluid_height_spacer
{
	padding-bottom: 18.134715025906736%;
}

#u18309:hover
{
	background: transparent url("../../images/u18309-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#ppu18315
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 16px;
	width: 56.32%;
	margin-left: 128.95%;
}

#u18315
{
	z-index: 61;
	vertical-align: top;
	position: relative;
	width: 100%;
	background: transparent url("../../images/u18315.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18315:hover
{
	background: transparent url("../../images/u18315-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18325-4
{
	z-index: 77;
	display: block;
	vertical-align: top;
	margin-top: 5px;
	position: relative;
	width: 83.18%;
	margin-left: 0.47%;
}

#u18320
{
	z-index: 69;
	height: 18px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 10.29%;
	margin-left: 47.2%;
}

.ie #u18320
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u18316
{
	z-index: 64;
	vertical-align: top;
	margin-top: 1px;
	position: relative;
	width: 66.83%;
	background: transparent url("../../images/u18316.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18316 .fluid_height_spacer
{
	padding-bottom: 11.888111888111888%;
}

#u18316:hover
{
	background: transparent url("../../images/u18316-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18317
{
	z-index: 66;
	height: 1px;
	background-color: #474747;
	top: -2px;
	margin-bottom: -1px;
	position: relative;
	width: 36.45%;
}

#u18307-3
{
	z-index: 36;
	min-height: 115px;
	background-color: #57BB63;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u18307-3-bw
{
	z-index: 36;
	min-height: 115px;
}

#u18310
{
	z-index: 46;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 51.32%;
	left: -21.58%;
	background: transparent url("../../images/u18310.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18310 .fluid_height_spacer
{
	padding-bottom: 10.256410256410255%;
}

#u18310:hover
{
	background: transparent url("../../images/u18310-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18311
{
	z-index: 49;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	width: 51.32%;
	left: -21.58%;
	background: transparent url("../../images/u18311.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18311 .fluid_height_spacer
{
	padding-bottom: 22.05128205128205%;
}

#u18311:hover
{
	background: transparent url("../../images/u18311-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18312
{
	z-index: 52;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 56.32%;
	left: 35%;
	background: transparent url("../../images/u18312.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18315 .fluid_height_spacer,#u18312 .fluid_height_spacer
{
	padding-bottom: 9.345794392523365%;
}

#u18312:hover
{
	background: transparent url("../../images/u18312-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18313
{
	z-index: 55;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	width: 26.32%;
	left: 35%;
}

#u18313_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18313_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18313:hover #u18313_states
{
	background: transparent url("../../images/u18313_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18314
{
	z-index: 58;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	width: 26.32%;
	left: 35%;
}

#u18314_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18314_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18313_states .fluid_height_spacer,#u18314_states .fluid_height_spacer
{
	padding-bottom: 14.000000000000002%;
}

#u18314:hover #u18314_states
{
	background: transparent url("../../images/u18314_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18318
{
	z-index: 67;
	height: 1px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	width: 15%;
	left: 35%;
}

#u18319
{
	z-index: 68;
	height: 1px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	width: 13.16%;
	left: 35%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

