.version.human_computer /* version checker */
{
	color: #0000F1;
	background-color: #33BD21;
}

#page
{
	z-index: 1;
	min-height: 427.6600798181437px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 71px;
	padding-bottom: 71.33992018185631px;
	width: 100%;
	max-width: 380px;
}

#u18767-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	position: relative;
	width: 84.22%;
	margin-left: 7.9%;
}

#u18768
{
	z-index: 27;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 13.16%;
	margin-left: 43.69%;
}

#u18762-8
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-top: 28px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18766
{
	z-index: 21;
	vertical-align: top;
	margin-top: 44px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18766_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18766_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18766:hover #u18766_states
{
	background: transparent url("../../images/u18766_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18763
{
	z-index: 11;
	vertical-align: top;
	margin-top: 2px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18763_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18763_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18763:hover #u18763_states
{
	background: transparent url("../../images/u18763_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18764
{
	z-index: 14;
	vertical-align: top;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18764_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18764_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18766_states .fluid_height_spacer,#u18763_states .fluid_height_spacer,#u18764_states .fluid_height_spacer
{
	padding-bottom: 9.034267912772584%;
}

#u18764:hover #u18764_states
{
	background: transparent url("../../images/u18764_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18765-4
{
	z-index: 16;
	margin-top: 1px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18765-4_img
{
	display: block;
	vertical-align: top;
	width: 100%;
}

#u18889
{
	z-index: 84;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18815
{
	z-index: 80;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	margin-top: 14px;
	position: relative;
	width: 75.27%;
	margin-left: 7.64%;
}

#u18791
{
	z-index: 30;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18791_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18791_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18791_states .fluid_height_spacer
{
	padding-bottom: 8.411214953271028%;
}

#u18791:hover #u18791_states
{
	background: transparent url("../../images/u18791_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18899
{
	z-index: 86;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18816
{
	z-index: 81;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	margin-top: 14px;
	position: relative;
	width: 75.27%;
	margin-left: 7.64%;
}

#u18794
{
	z-index: 33;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
	width: 85.53%;
	margin-left: 7.64%;
}

#u18794_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18794_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18794_states .fluid_height_spacer
{
	padding-bottom: 13.846153846153847%;
}

#u18794:hover #u18794_states
{
	background: transparent url("../../images/u18794_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18909
{
	z-index: 88;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18817
{
	z-index: 82;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	margin-top: 14px;
	position: relative;
	width: 75.27%;
	margin-left: 7.64%;
}

#u18795
{
	z-index: 36;
	vertical-align: top;
	margin-top: 7px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18795_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18795_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18795_states .fluid_height_spacer
{
	padding-bottom: 15.57632398753894%;
}

#u18795:hover #u18795_states
{
	background: transparent url("../../images/u18795_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18919
{
	z-index: 90;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18818
{
	z-index: 83;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	margin-top: 14px;
	position: relative;
	width: 75.27%;
	margin-left: 7.37%;
}

#u18796
{
	z-index: 39;
	vertical-align: top;
	margin-top: 7px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18796_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18796_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18796_states .fluid_height_spacer
{
	padding-bottom: 12.77258566978193%;
}

#u18796:hover #u18796_states
{
	background: transparent url("../../images/u18796_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#pppu18799
{
	margin-top: 48px;
	width: 100%;
}

#ppu18799
{
	padding-bottom: 0px;
	margin-right: -10000px;
	width: 50.79%;
	margin-left: -81.58%;
}

#u18768_img,#u18889_img,#u18899_img,#u18909_img,#u18919_img,#pu18799
{
	width: 100%;
}

#u18799
{
	z-index: 41;
	height: 72px;
	position: relative;
	margin-right: -10000px;
	width: 36.79%;
	left: 26.43%;
}

#u18801
{
	z-index: 46;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	width: 100%;
	background: transparent url("../../images/u18801.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18801 .fluid_height_spacer
{
	padding-bottom: 10.362694300518134%;
}

#u18801:hover
{
	background: transparent url("../../images/u18801-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18802
{
	z-index: 49;
	vertical-align: top;
	position: relative;
	width: 100%;
	background: transparent url("../../images/u18802.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18802 .fluid_height_spacer
{
	padding-bottom: 18.134715025906736%;
}

#u18802:hover
{
	background: transparent url("../../images/u18802-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#ppu18808
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 47px;
	width: 56.32%;
	margin-left: 124.74%;
}

#u18808
{
	z-index: 67;
	vertical-align: top;
	position: relative;
	width: 100%;
	background: transparent url("../../images/u18808.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18808:hover
{
	background: transparent url("../../images/u18808-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18814-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	margin-top: 5px;
	position: relative;
	width: 83.18%;
	margin-left: 0.47%;
}

#u18813
{
	z-index: 75;
	height: 18px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 10.29%;
	margin-left: 47.2%;
}

.ie #u18799,.ie #u18813
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u18809
{
	z-index: 70;
	vertical-align: top;
	margin-top: 1px;
	position: relative;
	width: 66.83%;
	background: transparent url("../../images/u18809.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18809 .fluid_height_spacer
{
	padding-bottom: 11.888111888111888%;
}

#u18809:hover
{
	background: transparent url("../../images/u18809-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18810
{
	z-index: 72;
	height: 1px;
	background-color: #474747;
	top: -2px;
	margin-bottom: -1px;
	position: relative;
	width: 36.45%;
}

#u18800-3
{
	z-index: 42;
	min-height: 115px;
	background-color: #57BB63;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u18800-3-bw
{
	z-index: 42;
	min-height: 115px;
	margin-top: 31px;
}

#u18803
{
	z-index: 52;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	width: 51.32%;
	left: -25.53%;
	background: transparent url("../../images/u18803.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18803 .fluid_height_spacer
{
	padding-bottom: 10.256410256410255%;
}

#u18803:hover
{
	background: transparent url("../../images/u18803-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18804
{
	z-index: 55;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	width: 51.32%;
	left: -25.53%;
	background: transparent url("../../images/u18804.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18804 .fluid_height_spacer
{
	padding-bottom: 22.05128205128205%;
}

#u18804:hover
{
	background: transparent url("../../images/u18804-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18805
{
	z-index: 58;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	width: 56.32%;
	left: 30.79%;
	background: transparent url("../../images/u18805.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18808 .fluid_height_spacer,#u18805 .fluid_height_spacer
{
	padding-bottom: 9.345794392523365%;
}

#u18805:hover
{
	background: transparent url("../../images/u18805-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18806
{
	z-index: 61;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	width: 26.32%;
	left: 30.79%;
}

#u18806_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18806_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18806:hover #u18806_states
{
	background: transparent url("../../images/u18806_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18807
{
	z-index: 64;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	width: 26.32%;
	left: 30.79%;
}

#u18807_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18807_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18806_states .fluid_height_spacer,#u18807_states .fluid_height_spacer
{
	padding-bottom: 14.000000000000002%;
}

#u18807:hover #u18807_states
{
	background: transparent url("../../images/u18807_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18811
{
	z-index: 73;
	height: 1px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	width: 15%;
	left: 30.79%;
}

#u18812
{
	z-index: 74;
	height: 1px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	width: 13.16%;
	left: 30.79%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}




