.version.information_system /* version checker */
{
	color: #0000F4;
	background-color: #9F1A30;
}

#page
{
	z-index: 1;
	min-height: 569.8725798181442px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 380px;
}

#page_position_content
{
	padding-top: 71px;
	padding-bottom: 71px;
	width: 100%;
}

#u18474-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	position: relative;
	width: 84.22%;
	margin-left: 7.9%;
}

#u18475
{
	z-index: 27;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 13.16%;
	margin-left: 43.69%;
}

#u18469-8
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-top: 28px;
	position: relative;
	width: 84.48%;
	margin-left: 7.64%;
}

#u18473
{
	z-index: 21;
	vertical-align: top;
	margin-top: 27px;
	position: relative;
	width: 84.22%;
	margin-left: 7.64%;
}

#u18473_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18473_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18473:hover #u18473_states
{
	background: transparent url("../../images/u18473_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18470-4
{
	z-index: 10;
	margin-top: 2px;
	position: relative;
	width: 84.22%;
	margin-left: 7.64%;
}

#u18470-4_img
{
	display: block;
	vertical-align: top;
	width: 99.69%;
}

#u18471
{
	z-index: 15;
	vertical-align: top;
	position: relative;
	width: 84.22%;
	margin-left: 7.64%;
}

#u18471_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18471_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18471:hover #u18471_states
{
	background: transparent url("../../images/u18471_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18472
{
	z-index: 18;
	vertical-align: top;
	margin-top: 1px;
	position: relative;
	width: 84.22%;
	margin-left: 7.64%;
}

#u18472_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18472_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18473_states .fluid_height_spacer,#u18471_states .fluid_height_spacer,#u18472_states .fluid_height_spacer
{
	padding-bottom: 9.0625%;
}

#u18472:hover #u18472_states
{
	background: transparent url("../../images/u18472_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18548
{
	z-index: 45;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	width: 83.69%;
	margin-left: 7.64%;
}

#u18506
{
	z-index: 41;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	margin-top: 14px;
	position: relative;
	width: 75.27%;
	margin-left: 7.64%;
}

#u18498
{
	z-index: 30;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
	width: 126.32%;
	margin-left: 7.64%;
}

#u18498_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18498_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18498_states .fluid_height_spacer
{
	padding-bottom: 5.625%;
}

#u18498:hover #u18498_states
{
	background: transparent url("../../images/u18498_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18558
{
	z-index: 47;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
	width: 83.95%;
	margin-left: 7.64%;
}

#u18507
{
	z-index: 42;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	margin-top: 15px;
	position: relative;
	width: 75.27%;
	margin-left: 7.37%;
}

#u18501
{
	z-index: 33;
	vertical-align: top;
	margin-top: 6px;
	position: relative;
	width: 84.22%;
	margin-left: 7.64%;
}

#u18501_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18501_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18501_states .fluid_height_spacer
{
	padding-bottom: 15.937499999999998%;
}

#u18501:hover #u18501_states
{
	background: transparent url("../../images/u18501_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18578
{
	z-index: 49;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
	width: 84.22%;
	margin-left: 7.64%;
}

#u18508
{
	z-index: 43;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	margin-top: 15px;
	position: relative;
	width: 75.27%;
	margin-left: 7.37%;
}

#u18502
{
	z-index: 36;
	vertical-align: top;
	margin-top: 7px;
	position: relative;
	width: 84.22%;
	margin-left: 7.9%;
}

#u18502_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18502_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18502_states .fluid_height_spacer
{
	padding-bottom: 15.312500000000002%;
}

#u18502:hover #u18502_states
{
	background: transparent url("../../images/u18502_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18588
{
	z-index: 51;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
	width: 84.48%;
	margin-left: 7.37%;
}

#u18475_img,#u18548_img,#u18558_img,#u18578_img,#u18588_img
{
	width: 100%;
}

#u18509
{
	z-index: 44;
	height: 1px;
	border-color: #474747;
	background-color: #474747;
	margin-top: 14px;
	position: relative;
	width: 75.27%;
	margin-left: 7.64%;
}

#u18503
{
	z-index: 39;
	vertical-align: top;
	margin-top: 7px;
	position: relative;
	width: 84.22%;
	margin-left: 7.9%;
}

#u18503_states
{
	float: left;
	width: 100%;
	background: transparent url("../../images/u18503_states.png") no-repeat 0px 0px;
	background-size: contain;
}

#u18503_states .fluid_height_spacer
{
	padding-bottom: 14.0625%;
}

#u18503:hover #u18503_states
{
	background: transparent url("../../images/u18503_states-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

